
/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Monosphere');
@import url('https://fonts.googleapis.com/css2?family=Quicksand');

/* This must remain at the top of this file.                 */

html {
  /*-- Main font sizes --*/
  --title-size:      50px;
  --body-size:       1.05rem;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    12px;
  --line-height: 1;

  /*-- Main font colors --*/
  --title-color:     #18392b; /* blog post titles on blog post page */
  --header-color:    #18392b; /* blog post titles on main blog page */
  --body-color:      rgba(0, 0, 0, 0.8); /* body text of blog posts*/
  --aside-color:     rgba(0, 0, 0, 0.6);
  --fig-cap-color:   rgba(0, 0, 0, 0.6);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    "Montserrat", sans-serif;
  --mono-font:       "Montserrat", monospace;
  --body-font:       "Montserrat", sans-serif;
  --navbar-font:     "Montserrat", sans-serif;  /* websites + blogs only */
}

body {
  background-color: #ffffff; /* homepage background color */
  font-family: ; /* update this */
  color: #18392b; /* update this */
  font-size: 20px;
}

h1{ /* my name on homepage*/
  color: #2d6a4f; /* bottle green */
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 20px;
}

h2{
  letter-scacing: 2px;
  color: #008DD5; /* blue */
  font-size: 18px;
}

h3{
  letter-scacing: 2px;
  color: #5F0A87; /* purple */
  font-size: 16px;
}

h4{
  letter-scacing: 2px;
  color: #18392b; /* phthalo green (dark green) */
  font-size: 16px;
}

h5{
  color: #18392b; /* phthalo green (dark green) */
  font-size: 16px;
}

h6{
  color: #18392b; /* phthalo green (dark green) */
  text-align: justify;
  font-size: 14px; /* 6 hashtag header in blog post  */
}


/* logo */
.skin-blue .main-header .logo {
  background-color: #387467; # header bar (top left corner)}

.irs-grid-text {
    position: absolute;
    bottom: 0;
    left: 0;
    white-space: nowrap;
    text-align: center;
    font-size: 19px;
    line-height: 9px;
    padding: 0 3px;
}

